<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Redis Cache Unit Test Suite">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Redis Cache Functional Test Suite">
            <directory>./tests/functional/</directory>
        </testsuite>
        <testsuite name="Redis Cache Integration Test Suite">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
</phpunit>